:root {
  --mainthemecolor: #444545;
  --secondarythemecolor: #5e7082;
  --textcolor: #b7b8b8;
  --alternatewarmcolor: #e6d4b1;
  --alternatedarkcolor: #6a544d;
}

body {
  overflow-x: hidden;
}

header {
  background-color: var(--mainthemecolor);
  height: 10rem;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--textcolor);
  font-weight: bold;
  text-align: center;
  margin-top: 2.5rem;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--textcolor);
  font-weight: bold;
  text-align: center;
}

main {
  height: 100%;
  width: 100%;
  background-color: var(--mainthemecolor);
  color: var(--textcolour);
  margin: 0;
}

img {
  display: flex;
  margin-bottom: 10rem;
}

label {
  color: var(--textcolor);
}
/* 
button {
  background-color: var(--secondarythemecolor);
  color: var(--textcolor);
  font-weight: bold;
  border-radius: 10rem;
  border-color: var(--alternatewarmcolor);
} */

footer {
  background-color: var(--mainthemecolor);
  color: var(--textcolor);
  font-weight: bold;
  text-align: center;
}

.form-group {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
  width: 100%;
}

.btn {
  color: var(--alternatewarmcolor);
  justify-content: center;
  align-items: center;
  background-color: var(--secondarythemecolor);
  border-radius: 10rem;
  align-self: center;
  margin-top: 0%;
}

#sign-up-btn {
  color: var(--alternatewarmcolor);
}

#signup-redirect {
  margin-top: 3.5rem;
}

#sign-me-up-btn {
  margin: 0.2rem;
}

#sign-up-link ::after {
  color: var(--secondarythemecolor);
}

#password-strength-result {
  font-weight: bold;
  font-size: medium;
  color: #fff;
}

.login-form,
.feed-title,
.existing-posts,
.existing-comments {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
