:root {
    --mainthemecolor: #444545;
    --secondarythemecolor: #5E7082;
    --textcolor: #B7B8B8;
    --alternatewarmcolor: #E6D4B1;
    --alternatedarkcolor: #6A544D;
}

header {
    background-color: var(--mainthemecolor);
    height: 20rem
}

h1,
h2,
h3 {
    color: var(--textcolor);
    font-weight: bold;
    text-align: center;
}

main {
    height: 100%;
    width: 100%;
    background-color: var(--mainthemecolor);
    color: var(--textcolour);
    overflow-x: hidden;
}

label {
    color: var(--textcolor);
}

button {
    background-color: var(--secondarythemecolor);
    color: var(--textcolor);
    font-weight: bold;
    border-radius: 10rem;
}

footer {
    background-color: var(--mainthemecolor);
    color: var(--textcolor);
    font-weight: bold;
    text-align: center;
}

.form-group {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    background-color: var(--secondarythemecolor);
    border-radius: 10rem;
    align-self: center;
}